{% extends 'base.html' %}

{% block content %}
<main class="container py5">
    <section class="card card-body">
        <h1 class="display-1">Home</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus facere distinctio placeat optio enim similique sed eius, ut, eligendi animi consequatur eum reiciendis dicta iure earum. Error in magni quisquam, vel accusantium quas? Hic fuga maiores iure delectus ex commodi voluptatum eveniet quisquam rem soluta, doloremque non praesentium quibusdam, expedita sunt adipisci. Cupiditate eos architecto quia, deserunt similique nulla. Sed repellendus quod ea, officia totam iste distinctio deserunt similique eligendi aspernatur hic cumque, harum obcaecati accusamus commodi adipisci, nesciunt voluptates minima possimus? Et, voluptate reprehenderit. Provident optio ipsa, dignissimos ducimus numquam maxime facilis, error eius iure atque, quis culpa ipsam?</P>
        <div class="text-center">
            {% if user.is_authenticated %}

            {% else %}
                <a class = "btn btn-secunday" href="{% url 'signin' %}">Signin</a>
                <a class = "btn btn-dark" href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </div>
        


    </section>

</main>


{% endblock %}
