{% extends 'base.html' %}

{% block content %}

<main>
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-3 py-5">TASKS LIST</h1>

        <ul class="list-group">
        {% for task in tasks %}
        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
            <header class="d-flex justify-content-between">
                {% if task.important %}
                    <h2 class="fw-bold text-success">{{task.title}}</h2>
                {% else %}
                    <h2 class="fw-bold">{{task.title}}</h2>
                {% endif %}
                <p>Description: {{task.description}}</p>
                <p>User: {{task.user.username}}</p>
                <p>Important task: {{task.important}}</p>
            </header>
            <p>Task completed on: {{task.datecompleted |date:'M j Y:i'}}</p>

        </a>
        
    {% endfor %}
</ul>

    </div>


</main>



{% endblock %}